#
# MikuN2N 小组（community）名单模板。
#
# 一行一个小组：先写小组名，再可选地跟一个虚拟网段，用空格分隔。
# 客户端里的"小组名称"必须与本文件中的名字完全一致才能连上本节点。
#
#     mygroup 192.0.2.0/24
#
# 网段决定 supernode 给该小组的客户端分配虚拟 IP 的范围。不写网段时，
# supernode 会从默认范围（10.128.0.0/9 内）挑一个未使用的 /24 分配。
# 两台客户端只要写同一个小组名、配上同一个联机密钥，就能互相看到。
#
# 名字也支持正则表达式，例如 net[0-9][0-9] 可以一次性放行 net00 到 net99。
# 用了正则就不能指定网段，supernode 会自动分配。
#
# 不想维护名单时可以不启用它（见 supernode.conf.template 里的 community_file），
# 此时任何小组名的客户端都能连上本节点，实际隔离依靠联机密钥。
#

mygroup 192.0.2.0/24
